// Import de Bootstrap depuis node_modules
@use "../../../../node_modules/bootstrap/scss/bootstrap" as *;
@use "variables" as v;
@use "mixins" as m;
@use "layout" as l;
@use "styles" as s;

// Variables personnalisées locales
$main-primary: #3498db;
$main-secondary: #2c3e50;
$main-font-family: 'Roboto', sans-serif;